# Name of your site
name: Vorpal Dice Press
logo: /img/svg/VDP.svg
logo_simple: /img/svg/VDP-solo.svg
# description of the site for metadata. Visible in things like google searches and hotlinks. Should be very short.
description_meta: Vorpal Dice Press
# Site description for the footer, and any other places its displayed
description: Get the best 3rd party content for Dungeons & Dragons 5th Edition here!
# Your name/username
author: Steve Fidler

# socials
email: vorpaldicepress@gmail.com
facebook: vorpaldicepress
twitter: vorpaldicepress

# Your website URL. Used for Sitemap.xml and your RSS feed
url: https://vorpaldicepress.com
# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics:
# Put the number portion of your DmsGuild affiliate link here if you have one
guild_affiliate: 1713687

# If you're hosting your site at a Project repository on GitHub pages (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io) then add in the baseurl here, like this: "/repository-name"
#baseurl: ""
collections:
  pages:
    output: true

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
      type: "posts"
    values:
      layout: default
  - scope:
      path: _pages
    values:
      permalink: /:title/
      title: Page Title
      public: false
      order: 999
  - scope:
      path: _posts/blogs
    values:
      layout: blog
      permalink: /blog/:title/
      title: New Blog Post
      categories: [blogs]
  - scope:
      path: _posts/products
    values:
      layout: product
      permalink: /product/:title/
      title: New Product
      categories: [products]
  - scope:
      path: _posts/reviews
    values:
      layout: review
      permalink: /review/:title/
      title: New Review
      categories: [reviews]
      product_image_anchor: top
  - scope:
      path: _posts/drafts/blogs
    values:
      layout: blog
      permalink: /:categories/:title/
      title: New Blog Draft
      categories: [drafts, blogs]
  - scope:
      path: _posts/drafts/products
    values:
      layout: product
      permalink: /:categories/:title/
      title: New Product Draft
      categories: [drafts, products]
  - scope:
      path: _posts/drafts/reviews
    values:
      layout: review
      permalink: /:categories/:title/
      title: New Review Draft
      categories: [drafts, reviews]

excerpt_separator: "<!--excerpt-->"
excerpt_length: 150

permalink: /:title/
paginate: 10
paginate_path: "/page/:num/"

#sets the maximum number of blogs visible on the homepage
blog_limit: 1
#sets the maximum number of blogs visible on the homepage
review_limit: 3



#########################################
#          DONT CHANGE THESE            #
#########################################

# The release of Jekyll Now that you're using
version: v3.8.5

# Jekyll 3 now only supports Kramdown for Markdown
kramdown:
  parse_block_html: true

sass:
  style: :compressed

# Use the following plug-ins
gems:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem
  - jekyll-paginate

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
