{% assign blog_count = 0 %}

<section id="blogs">
  <div class="width-wrapper">
    {% for post in site.categories.blogs %}
      {% if blog_count == site.blog_limit %}
        {% break %}
      {% endif %}
      {% unless post.categories contains "drafts" %}
        {{ blog_count }}
        <div class="blog">
          <div class="blog-content">
            <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
            <p class="subtle subtitle">{{ post.date | date: '%B %d, %Y' }}</p>

            {{ post.content }}
          </div>
          <div class="read-more">
            <div></div>
            <div><a href="{{ post.url }}">Read More...</a></div>
          </div>
        </div>
        {% assign blog_count = blog_count | plus: 1 %}
      {% endunless %}
    {% endfor %}
  </div>
</section>
