{% assign build_date = "now" | date: "%Y-%m-%d" %}

<section id="features">
  <div class="width-wrapper">
    <div class="slider">
      {% for post in site.categories.products %}
        {% assign feature_start = post.product_feature_start | convert: "date" | date: "%Y-%m-%d" %}
        {% assign feature_end = post.product_feature_end | convert: "date" | date: "%Y-%m-%d" %}
        {% assign build_days = build_date | date: "%s" | divided_by: 86400 %}
        {% assign feature_start_days = feature_start | date: "%s" | divided_by: 86400 %}

        {% if build_date >= feature_start and build_date <= feature_end %}
          <div class="feature-item" data-age="{{ build_days | minus: feature_start_days }}" data-start="{{ feature_start }}" data-feature-end="{{ feature_end }}">
            <a href="{{ post.url }}"><img src="{{ post.product_image }}" alt="{{ post.title }}. {{ post.tagline }}" loading="lazy" /></a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
