<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta http-equiv="Content-Language" content="en">
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta name="color-scheme" content="light">
<meta name="supported-color-schemes" content="light">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1.1">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1.1">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1.1">
<link rel="manifest" href="/site.webmanifest?v=1.1">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=1.1" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=1.1">
<meta name="apple-mobile-web-app-title" content="{{ site.name }}">
<meta name="application-name" content="{{ site.name }}">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<!-- SEO and og tags -->
{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html | truncatewords: 50 }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords: 150 }}" />
{% else %}
<meta name="description" content="{{ site.description_meta }}">
<meta property="og:description" content="{{ site.description_meta }}" />
{% endif %}

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% endif %}
{% if site.twitter %}
<meta property="twitter:site" content="{{ site.twitter }}" />
{% endif %}
<meta property="twitter:card" content="summary" />

<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% if page.product_image %}
{% if page.product_image contains '://' %}
<meta property="og:image" content="{{ page.product_image }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}{{ page.product_image }}" />
{% endif %}
{% else %}
<meta property="og:image" content="{{ site.url }}/android-chrome-192x192.png" />
<meta property="og:image:width" content="96" />
<meta property="og:image:height" content="96" />
{% endif %}
<meta property="og:type" content="article" />
<meta name="author" content="{{ site.author }}" />
<meta property="article:author" content="{{ site.author }}" />
{% if page.date %}
<meta property="article:published_time" content="{{ page.date }}" />
{% endif %}
{% if page.last_modified_at %}
<meta property="article:modified_time" content="{{ page.last_modified_at }}" />
{% endif %}

<!-- location info -->
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description_meta }}" href="{{ site.url }}/feed.xml" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
